.intro img {
  max-width: 60%;
}

.intro {
  font-family: sans-serif;
}

.intro h2 {
  color: blue;
}

.intro p {
  font-style: italic;
  max-width: 50%;
}

.contact {
  max-width: 75%;
  font-family: monospace;
}
